#!/usr/bin/env ruby

compile '/less/style/' do
  filter :less
end
route '/less/style/' do
  '/style.css'
end

compile '*' do
  if item[:extension] == 'html'
    filter :erb
    layout 'default'
  end
end

route '*' do
  if item[:extension] == 'html'
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  else
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  end
end

layout '*', :erb
